    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="row no-gutters">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="outer">
                        <div class="centerbg">
                             <img src="../img/simlogo.png" ></img>
                            <br>
                            <pt>We think enabling flight for everyone should involve everyone. Similarize is an app (currently in development) to help make it possible for more people to work together on the mission.</pt>
                            <br>
                            <br>
                            <br>
                            <br>
                            <a href="http://similarize.com/" class="btn btn-default btn-lg">Similarize Web App</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>



