    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                   <center>
                

                      
                                <text>Download Similarize</text>
                                <br>
                                <pt>You can download Similarize here for free or use the web app at Similarize.com.</pt>
                                <br>
                                <br>
                                <br>
                                <br>

                                <a href="http://similarize.com/" class="btn btn-default btn-lg">Similarize Web App</a>
                  
                    </center>
                </div>
            </div>
        </div>
    </section>