
    

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="/" title="Return to the homepage" id="logo">
                           <center> <img src="img/flightLogo600grad.png"  alt="Flight logo" /></center>
                        </a>
                       <!-- <img src="img/flightLogo600.png" class="img-responsive" alt="Flight"></img> -->
                        <h2 class="brand-heading">Bringing Flight to Everyone</h2>
                        <!--<p class="intro-text">Bringing Flight to Everyone</p>-->
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
