    <!-- Map Section -->
    <div id="map">
		<!-- Map start here -->
		<section id="map-wrapper" class="no-padding">
			<div class="container">
				<div class="contact-info-inner wow fadeInUp">
	    			<h3>Contact Info</h3>
		    		<div><i class="fa fa-map-marker pull-left"></i>  
		    			<p><strong>Address</strong>1102 Saint Marys, Junction City, KS</p>
		    		</div>
		    		<div><i class="fa fa-phone pull-left"></i>  
		    			<p><strong>Phone</strong>+(785) 238-4131</p>
		    		</div>
		    		<div><i class="fa fa-envelope-o pull-left"></i>  
		    			<p><strong>Email</strong>info@barrierinco.com</p>
		    		</div>
		    		<div><i class="fa fa-compass pull-left"></i>  
		    			<p><strong>Office Hours</strong>Mon - Friday, 9:00 - 5:00</p>
		    		</div>

				</div>
		    </div>
			<div class="map" id="map"></div>
		</section><!--/ Map end here -->
	</div>


	<script type="text/javascript" src="js/style-switcher.js"></script>
    <!-- Google Map API Key Source -->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- Google Map  Source -->
    <script type="text/javascript" src="js/gmaps.js"></script>
	<!-- Wow Animation -->
    <script type="text/javascript" src="js/wow.min.js"></script>
    <!-- Custom js source -->
    <script type="text/javascript" src="js/custom.js"></script>