    <!-- Map Section -->
    <!-- Map start here -->
    <center>
		<section id="map-wrapper" class="padding">
			<div class="map">
				<div class="container">
					<div class="contact-info-inner wow fadeInUp">
		    			<div><i class="fa fa-map-marker pull-left"></i>  
			    			<p><strong>Address</strong>218 S 200 W, PO Box 141, Farmington, UT 84025</p>
			    		</div>
			    		<div><i class="fa fa-phone pull-left"></i>  
			    			<p><strong>Phone</strong>+(801)810-4798</p>
			    		</div>
			    		<div><i class="fa fa-compass pull-left"></i>  
			    			<p><strong>Office Hours</strong>Mon - Friday, 9:00 - 5:00</p>
			    		</div>
					</div>
			    </div>
			</div>
			<div id="map" class="map"></div>
		</section><!--/ Map end here -->
	</center>

